@model VisualNovelManager.Models.VNListCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VNList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ListName" class="control-label"></label>
                <input asp-for="ListName" class="form-control" />
                <span asp-validation-for="ListName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListDescription" class="control-label"></label>
                <input asp-for="ListDescription" class="form-control" />
                <span asp-validation-for="ListDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="List" class="control-label"></label>
                <input id="List" asp-for="List" class="form-control" ReadOnly="true"/>
                <span asp-validation-for="List" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label id="ListSelection" class="control-label">Please select the visual novels you want to add to the list</label>
                @Html.DropDownListFor(x => x.ListSelection, new SelectList(ViewBag.AllAvailableVN, "GameTitle", "GameTitle"))
                <button onclick="UpdateList()" type="button">Add Game To List</button>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function UpdateList() {
            var game = $('select[id=ListSelection]')
            console.log(value);
            //alert(value);
            //document.getElementById("list").value += text;
        }
    </script>
}
